body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
button {
  padding: 5px 20px;
  background: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 0 2px;
}